<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="Phoenix-Paywall-1.0"
    version="3.0">
    <display-name>Phoenix Paywall</display-name>

    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
            <comment>Phoenix Paywall tracking cookie</comment>
            <max-age>3600</max-age>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>